body {

  font-family: 'Segoe UI', Arial, sans-serif;
  background-image: url('https://saoluis.edufor.edu.br/themes/edufor/assets/images/background/bg-video-sobre-new-2026.jpg'); /* Nome do seu arquivo de imagem */
  background-size: 500px 300px;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /*background: rgb(227, 215, 215);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;*/
}
.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.erro {
  border: 2px solid red;
}

#mensagem {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}
